/* Basic styling for the entire app */
body {
  background-color: rgb(2, 34, 24); /* background color */
  color: #fff; /* text color */
  line-height: 1.6; /* Improve readability */
  margin: 0;
  padding: 0;
}
