body {

    background-position: center;
    flex: 30;
    height: 20px;
    background-color: rgb(2, 34, 24) !important;
    margin: 20px;
    padding: 10px 10px;
 
}

h1{
    text-align: center;
    text-decoration: underline;
}